/* body {
  margin: 0;
  padding: 0;
} */

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
} */

.site-header .welcome{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0px 200px;
  margin-top: 400px;
  z-index: 1;
  
}

.site-header .welcome-button {
  background-color: #BF6B21;
  color: #fff;
  padding: 15px 16px;
  width: 50%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 17px;
  font-weight: bold;

  &:hover {
    background-color: #a85710; /* Darker shade for hover effect */
  }
}


.movies-container {
  display: flex;
  color:#fff;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: -5px;
}

.movie-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 16px;
  overflow: hidden;
  width: 200px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.movie-info h2 {
  margin: 0;
  font-size: 16px;
}

.popular-container {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  margin-top: -20px;
  padding-left: 50px;
  color: #99b7ccb0;
}

.popular-hr {
  margin-top: -20px;
  border-top: 0.2px solid rgba(214, 222, 227, 0.181);
  margin-right: 50px; /* Adjust this value for the right side */
  margin-left: 50px;
  /* margin-right: 35px; */

}

.search-bar {
  margin-left: auto;
  margin-right: 33px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.search-bar-input {
  padding: 8px;
  border: none;
  border-radius: 20px;
  margin-right: 8px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}

.search-bar-input::placeholder {
  color: #ffffff;
}

.search-bar-button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #bf6b21;
  color: #ffffffda;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #a85710;
  }
}


/* Add more styling for other elements if needed */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(30, 30, 30);
}

.site-header {
  position: relative;
  overflow: hidden;
  color: #fff;
  background-image: url('https://imageio.forbes.com/specials-images/imageserve/6547cda2049eb16a6a4f08a1/-Saltburn--movie-poster/0x0.jpg?format=jpg&crop=1944,1093,x0,y809,safe&width=960');
  background-position: center -15px;
  background-size: cover;
  height: 100vh;
}

/* Blend the backdrop image into the solid color */
.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(44, 52, 64, 0) 0%, rgb(30, 30, 30) 100%);
  z-index: 1;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 2;
  transition: background 0.3s ease;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
  padding-right: 15px; 
}

.navbar .nav-link {

  margin-right: 15px;
  font-size: large;
  font-weight: bold;
  margin-right: 35px;
  font-size: medium;
  transition: color 0.3s ease;
  &:hover{
    color: #acabab; 
  }
}

.navbar .site-name {
  margin-left: 0;
  margin-right: auto;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

.scrolled {
  background: rgba(44, 52, 64, 0.9);
}


/* ==========================
    SINGLE MOVIE STYLING
=========================== */

.details {
  margin-top: 100px;
}

.singleMovie {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.singleMovie::after {
  content: "";
  display: table;
  clear: both;
}

/* .movie-title, */
.movie-poster,
.movie-des,
.movie-reviews {
  margin-bottom: 20px;
}

.movie-title {
  color: #fff;
  font-size: 1.2em;
  margin-top: -4%;
  margin-bottom: 10px;
  display: flex;
  align-items: center; 
}

.movie-title h2 {
  margin: 0; 
}

.movie-title .average-rating {
  margin-left: 10px; 
}

.movie-director {
  margin-top: -1%;
  font-weight: bold;
  font-size: 1.2em;
  color: #99b7ccb0;

}

.movie-des {
  padding-right: 10%;
  color: #99b7ccb0;
  margin-top: -3%;
}

.movie-reviews h3 {
  color: #99b7ccb0;
  font-size: medium;
  margin-bottom: -1%;
}

.reviews {
  color: #99b7ccb0;
}

.reviews hr {
  border-top: 0.2px solid rgba(214, 222, 227, 0.343); 
  margin: 20px 0;
}

.movie-poster img {
  max-width: 300px;
  float: left;
  margin-right: 20px;
  padding-bottom: 60px;
}

.average-rating {
  float: right;
}

.movie-title,
.movie-des,
.movie-reviews {
  overflow: hidden;
}

.movie-title h2,
.movie-des h4,
.reviews {
  margin-top: 10px;
}


.user-review {
  color: #99b7ccb0;
  background-color:#6c8da35f;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.user-review p {
  margin-left: 8px;
}

.user-review .star-rating {
  font-size: 20px;
}
.user-review h5 {
  margin-left: 8px;
  margin-bottom: -5px;
}

.user-review hr {
  margin: 8px;
  border-radius: 10px;
}

/* Styling for the movie reviews container */
.movie-reviews {
  margin-top: 20px;
}

.movie-reviews .set-star-rating {
  padding: 10px;
}

/* Styling for the review container */
.review-container {
  display: flex;
  align-items: center;
  

}

/* Styling for the delete review icon */
.delete-review-icon {
  color: #99b7ccb0;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}

.delete-review-icon:hover {
  transition: .2s ease-in-out;
  color: #6a7f8eb0;
}
.comments h5 {
  margin-bottom: -17px;
}     

/* Styling for comment container */
.comment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-content {
  display: flex;
  align-items: center;
}

.delete-comment-icon {
  color: #99b7ccb0;
  margin-left: 10px;
  cursor: pointer;
}

.delete-comment-icon:hover {
  transition: .2s ease-in-out;
  color: #6a7f8eb0;
}

/* Styling for the add comment button */
.add-comment {
  margin-top: 10px;
  background-color: #dd7d28;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-comment:hover {
  background-color: #df6c07;
}

/* Styling for the comment form */
.comment-form {
  margin-top: 10px;
}

.comment-form input {
  padding: 8px;
  margin-right: 5px;
}

.comment-form button {
  background-color: #dd7d28;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #df6c07;
}


.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-input {
  width: 90%;
  padding: 10px;
  padding-bottom: 100px;
  margin: 8px;
  border: 1px solid #ddd; 
  border-radius: 4px;
}

.save-button {
  background-color: #BF6B21;
  color: #fff;
  padding: 8px 16px;
  width: 95%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #a85710; /* Darker shade for hover effect */
  }
}

.login-request {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

.login-request p {
  margin-bottom: 10px;
}

.login-link-button {
  background-color: #dd7d28;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.login-link-button:hover {
  background-color: #df6c07;
}

.reviews-container {
  margin-top: 20px;
}

/* Styling for each review */
.reviews {
  background-color:#6c8da35f;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Styling for the review content */
.review-content {
  margin-top: 10px;
}



/* Styling for the edit review form */
.edit-review-form {
  margin-top: 10px;
}

.edit-review-icon:hover {
  transition: .2s ease-in-out;
  color: #6a7f8eb0;
}

.edit-review-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.edit-review-form button {
  background-color: #dd7d28;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-review-form button:hover {
  background-color: #df6c07;
}

/* 
===============================================================
  LOGIN/REGISTER FORM 
===============================================================
  */

.login-body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  /* background: linear-gradient(to bottom, #D9AC25, #D9981E, #BF6B21); */
}

.main {
  width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
  background: linear-gradient(to bottom, #f19c41, #ffc861, #df7b24);

}

#chk {
  display: none;
}

.signup {
  position: relative;
	width:100%;
	height: 100%;
}

.main label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.main input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.main button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #e78632;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.main button:hover{
	background: #d0792c;
}

.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-40px);
	transition: .8s ease-in-out;
}
.login label{
	color: #e78632;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-330px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}


/* ACCOUNT PAGE */

.account-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: #fff;
  margin-top: 70px;
}

.user-info h2 {
  margin-left: 2px;
}

.user-info p {
  margin-left: 10px;
  margin-top: -10px;
  font-style: italic;
  color: #99b7ccb0;
}

.user-info {
  text-align: left;
  margin-bottom: 20px;
}

.user-info h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.user-info p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.user-info button {
  background-color: #dd7d28;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-info button:hover {
  background-color: #df6c07;
}

.account-reviews {
  max-width: 600px;
  width: 100%;
}

.account-reviews h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.account-reviews hr {
  border-top: 0.2px solid rgba(214, 222, 227, 0.343);
  margin: 20px 0;
}

.account-reviews p {
  font-size: 1.2em;
  margin: 5px 0;
}


/* ADMIN */
.adminPage {
  margin-top: 100px;
}
.adminPage h1, h2 {
  color: #fff;
  margin: 20px;
  margin-top: 50px;
}

.adminPage button {
  margin: 10px;
}

.adminPage ul{
  list-style: none;
}

.adminPage li {
  color: white;
  padding: 10px;
}

/* .admin-title {
  color: #e78632;
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.user-list,
.review-list,
.comment-list {
  list-style-type: none;
  padding: 0;
}

.user-item,
.review-item,
.comment-item {
  margin-bottom: 10px;
}

.adminPage .delete-button {
  background-color: #bf6b21;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.adminPage .delete-button:hover {
  background-color: #a85710;
} */


